{
  "extends": [
    "google",
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "require-jsdoc": 0,
    "quote-props": [2, "as-needed"],
    "max-len": 0
  },
  "plugins": [],
  "parserOptions": {},
  "globals": {
    "process": true,
    "require": true,
    "module": true,
  }
}
