{{ partial "header.html" . }}

<div class="container">

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleBody": {{ .Content }},
    "articleSection": "til",
    "wordCount": {{ .WordCount }},
    "timeRequired": "P{{ .ReadingTime }}M",
    "author": {
      "@type": "Person",
      "name": "Marvin Pinto",
      "email": "hello@pinto.im",
      "image": {{printf "%s" (print .Site.BaseURL "/" (index .Site.Data.assets "marvin-pinto-profile.jpg"))}},
      "url": "https://disjoint.ca/page/about"
    },
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
    "headline": {{ .Title }},
    "mainEntityOfPage":{
      "@type": "WebPage",
      "@id": {{ .Permalink }}
    },
    "description": {{ $.Scratch.Get "local_description" }},
    "image": {
      "@type": "ImageObject",
      "url": {{printf "%s" (print .Site.BaseURL "/" (index .Site.Data.assets (.Param "meta_image")))}}
      "height": {{ .Param "meta_image_height" }},
      "width": {{ .Param "meta_image_width" }}
    },
    "publisher": {
      "@type": "Organization",
      "name": "disjoint.ca",
      "url" : "https://disjoint.ca",
      "logo": {
        "@type": "ImageObject",
        "url": {{printf "%s" (print .Site.BaseURL "/" (index .Site.Data.assets "disjoint-ca-logo.png"))}},
        "width": 327,
        "height": 60
      }
    }
  }
  </script>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>{{ .Title }}</h3>
      <span class="label label-primary">{{ .Date.Format .Site.Params.strings.date_format }}</span> using tags
      {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="/tags/{{ . | urlize }}">{{ $e }}</a>{{ end }}

      <div class="pull-right">
        <a href="#"
          class="btn btn-secondary btn-sm tweet-linkbutton"
          target="blank"
          rel="noreferrer"
          data-url="{{ .Permalink }}"
          data-title="{{ .Title }}"
          data-author="{{ .Param "author_twitter_username" }}"><i class="fa fa-twitter"></i> Tweet
        </a>
      </div>

      <div>
        <br />
        {{ partial "switchboard.html" . }}
        {{ .Content }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <hr />
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
