{{ partial "header.html" . }}

<div class="container">

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleBody": {{ .Content }},
    "articleSection": "til",
    "wordCount": {{ .WordCount }},
    "timeRequired": "P{{ .ReadingTime }}M",
    "author": {
      "@type": "Person",
      "name": "Marvin Pinto",
      "email": "hello@pinto.im",
      "image": "https://s.gravatar.com/avatar/22784ea1769f025112c92c31321c6bf1?s=400",
      "url": "https://disjoint.ca/page/about"
    },
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
    "headline": {{ .Title }},
    "mainEntityOfPage":{
      "@type": "WebPage",
      "@id": {{ .Permalink }}
    },
    "description": {{ $.Scratch.Get "local_description" }},
    "image": {
      "@type": "ImageObject",
      "url": {{ .Param "meta_image" }},
      "height": {{ .Param "meta_image_height" }},
      "width": {{ .Param "meta_image_width" }}
    },
    "publisher": {
      "@type": "Organization",
      "name": "disjoint.ca",
      "url" : "https://disjoint.ca",
      "logo": {
        "@type": "ImageObject",
        "url": "https://s3.amazonaws.com/media.disjoint.ca/disjoint-ca-logo.png",
        "width": 327,
        "height": 60
      }
    }
  }
  </script>

  {{ $.Scratch.Set "local_twitter_str" (print .Title " by " (.Param "author_twitter_username") " " .Permalink) }}

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>{{ .Title }}</h3>
      <span class="label label-primary">{{ .Date.Format .Site.Params.strings.date_format }}</span> using tags
      {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="/tags/{{ . | urlize }}">{{ $e }}</a>{{ end }}

      <div class="pull-right">
        <a href='http://twitter.com/share?text={{ $.Scratch.Get "local_twitter_str" }}'
          class="btn btn-secondary btn-sm"
          target="_blank"
          rel="noreferrer"
          ><i class="fa fa-twitter"></i> Tweet
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <br>
      {{ .Content }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <hr />
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
