{{ partial "header.html" . }}

<div class="container">

  <div class="row">
    <div class="text-center col-md-offset-1 col-md-10">
      <h3>&#xf0eb; Today I Learned!</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <p>This section contains a collection of things I've learned and
      re-learned over the years. It's been structured to make it easy to Ctrl+F
      &amp; search for tidbits (the searchbox in the navbar might be helpful
      for non-title related searches here). Subscribe to the <a href="{{.RSSLink }}" type="application/rss+xml" target="_blank" rel="noreferrer"><i class="fa fa-rss-square"> RSS feed</i></a> for updates!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <ul class="fa-ul">
        {{ range .Data.Pages }}
        <li><i class="fa-li fa fa-angle-right"></i><a href="{{.Permalink}}">{{ .Title }}</a>&nbsp;({{ .Date.Format .Site.Params.strings.date_format }})</li>
        {{ end }}
        </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <hr />
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
