{{ partial "header.html" . }}

<div class="container">

  <div class="row">
    <div class="text-center col-md-offset-1 col-md-10">
      <h3>&#xf0c5; Writing Archives</h3>
    </div>
  </div>

  {{ range (.Paginator 5).Pages }}
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3><a href="{{.Permalink}}">{{ .Title }}</a></h3>
      <small>
        <span class="label label-primary">{{ .Date.Format .Site.Params.strings.date_format }}</span> using tags
        {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="/tags/{{ . | urlize }}">{{ $e }}</a>{{ end }}
      </small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <br>
      {{ .Summary }}
      {{ if .Truncated }}
      <a href="{{ .Permalink }}">&nbsp;<i class="fa fa-angle-double-right"></i> continue reading</a>
      {{ end }}
    </div>
  </div>
  {{ end }}

  <div class="row">
    <div class="col-md-offset-1 col-md-10 text-center">
        {{ template "_internal/pagination.html" . }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <hr />
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
