@import url('https://fonts.googleapis.com/css?family=Ubuntu:bold');
@import url(http://fonts.googleapis.com/css?family=Rancho);
@import url(http://fonts.googleapis.com/css?family=Gudea);

.image-floatleft
{
  float: left;
  clear: right;
  margin-right: 10px;
}

.image-floatright
{
  float: right;
  clear: left;
  margin-left: 10px;
}

body {
  font-family: Verdana,sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: #595653;
}

a {
  color: #68829e;
}

a:hover,
a:focus {
  color: #505160;
  text-decoration: none;
}

.label-primary {
  background-color: #505160;
}

.navbar {
  font-family: 'Ubuntu', Verdana, sans-serif;
  border-width: inherit;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  min-height: 40px;
}

.navbar-nav > li > a,
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 8px;
  height: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: #8C8986;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #505160;
  background-color: transparent;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-left: 8.33333333%;
    margin-right: 9%;
  }
}

.brand > .logo {
  border: none;
  outline: none;
  float: left;
  height: 23px;
  max-width: 100%;
  border: 0px;
}

.brand:hover > .logo,
.brand:focus > .logo {
  opacity: 0.8;
}

.image-banner {
  background: url(https://s3.amazonaws.com/media.disjoint.ca/disjoint-ca-banner.jpg);
  background-size: cover;
  width: 945px;
  height: 500px;
  position: relative;
  float: left;
}

.mid h2 {
  font-weight: 900;
  font-family: 'Gudea', Verdana, Helvetica, sans-serif;
  font-size: 13vmin;
  font-variant: small-caps;
  color: white;
  position: relative;
  top: 30%;
  left: 15%;
}

.mid p {
  font-size: 4vmin;
  font-family: 'Rancho', Georgia, serif;
  color: white;
  text-transform: lowercase;
  position: relative;
  left: 62%;
  top: 28%;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #b6d1ec;
  color: white;
}

.tag:hover::after {
  border-left-color: #b6d1ec;
}

.landing-page > .row {
  margin-top: 10px;
}
