h3 {
  font-family: append('FontAwesome', $headings-font-family, 'comma');
}

.hero-blog-post-banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  min-height: 25em;
  margin-bottom: inherit;
}
