.iframe-resume {
  width: 80%;
  overflow: hidden;
  border: 0;
  background-color: #FFFFFE; // sass-lint:disable-line no-color-literals
  box-shadow: 0 0 2px rgba(0, 0, 0, .84); // sass-lint:disable-line no-color-literals
  border-radius: 5px;
}
