$tag-background-color: #B6D1EC;

.tags {
  margin: 0; // sass-lint:disable-line variable-for-property
  list-style: none;
  overflow: hidden;
  padding: 0;

  li {
    float: left;
  }
}

.tag {
  display: inline-block;
  margin: 0 10px 10px 0; // sass-lint:disable-line variable-for-property
  background: #EEE; // sass-lint:disable-line no-color-literals
  border-radius: 3px 0 0 3px;
  color: #999; // sass-lint:disable-line no-color-literals
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  text-decoration: none;

  &::before {
    background: #FFF; // sass-lint:disable-line no-color-literals
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, .25); // sass-lint:disable-line no-color-literals
    content: ''; // sass-lint:disable-line variable-for-property
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

  &::after {
    background: #FFF; // sass-lint:disable-line no-color-literals
    border-bottom: 13px solid transparent;
    border-left: 10px solid #EEE; // sass-lint:disable-line no-color-literals
    border-top: 13px solid transparent;
    content: ''; // sass-lint:disable-line variable-for-property
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background-color: $tag-background-color;
    color: #FFF; // sass-lint:disable-line no-color-literals

    &::after {
      border-left-color: $tag-background-color;
    }
  }
}
