// Font-awesome overrides
$fa-font-path: "../fonts";

// Bootstrap overrides
$icon-font-path: "../fonts/";
$font-family-sans-serif: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height-base: 1.5;
$font-size-base: 15px;
$pre-color: #333;
$pre-bg: inherit;
$gray-dark: #595653;
$brand-primary: #68829e;
$link-hover-decoration: none;
$link-hover-color: #505160;
$label-primary-bg: $link-hover-color;
$navbar-default-bg: #f5f5f5;
$navbar-height: 40px;
$navbar-default-color: #8C8986;
$navbar-default-link-hover-color: $link-hover-color;
$jumbotron-font-size: 35px;
$jumbotron-heading-font-size: 130px;

// Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Fontawesome
@import '../../node_modules/font-awesome/scss/font-awesome';

// Custom fonts
@import '../../build/css/ubuntu';
@import '../../build/css/rancho';
@import '../../build/css/gudea';

// Bootstrap customizations
@import 'bootstrap_customizations';

// Front page banner
@import 'fontpage_banner';

// Tags
@import 'tags';

// 404 page
@import 'fourohfour';

// Resume
@import 'resume';

// Font Awesome customizations
@import 'font_awesome_customizations';
