<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Params.languageCode }}" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ .Site.Params.languageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ .Title }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <meta name="keyword" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{{ if eq .URL "/" }}Marvin Pinto &middot; {{ else if eq .URL "/writing/" }}Writing &middot; {{ else if in .URL "/tags/" }}Tags &middot; {{ else if eq .URL "/til/" }}Today I Learned &middot; {{ else }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

   <!-- include custom css -->
   <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">

    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ getenv "GOOGLE_ANALYTICS_ID" }}', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <!-- client-side javascript hackernews button -->
    <script src="/js/hnbutton.js"></script>
    <script>
    $(document).ready(function(){
        $('.hn-linkbutton').hnButton();
        });
    </script>

    <!-- rss -->
    {{ if .RSSlink }}
      <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

</head>
<body lang="{{ .Site.Params.languageCode }}">
    <!-- navbar -->
    {{ partial "navbar" . }}
