<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#disjoint-ca-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{.Site.BaseURL}}" class="navbar-brand brand">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 293.631 53.879188">
            <g fill-rule="evenodd">
                <path d="M33.667 47.528l-6.363 6.35-14.81-14.808 6.364-6.35 14.81 14.808z" fill="#598234"/>
                <path d="M39.093 12.483l14.82 14.81-17.666 17.655-14.82-14.786 17.666-17.68z" fill="#68829e"/>
                <path d="M36.467 9.892L9.903 36.48 0 26.61 26.587 0l9.88 9.892z" fill="#aebd38"/>
            </g>
            <text style="line-height:125%;text-align:start" x="227.924" y="-616.808" transform="matrix(1.25 0 0 1.25 -223.013 808.828)" font-weight="700" font-size="32" font-family="DejaVu Sans" letter-spacing="0" word-spacing="0" fill="#505160">
                <tspan x="227.924" y="-616.808">disjoint.ca</tspan>
            </text>
        </svg>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="disjoint-ca-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ .Site.BaseURL }}/writing/"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Writing</a></li>
        <li><a href="{{ .Site.BaseURL }}/til/"><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;TIL</a></li>
        <li><a href="{{ .Site.BaseURL }}/page/about/"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;About</a></li>
      </ul>
    </div>

  </div>

</div>
