<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#disjoint-ca-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{.Site.BaseURL}}" class="navbar-brand brand">
        <div class="logo"></div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="disjoint-ca-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ .Site.BaseURL }}/post/">{{ if .Site.Params.strings.blog_navbar_link }}{{ .Site.Params.strings.blog_navbar_link }}{{ else }}Blog{{ end }}</a></li>
        <li><a href="{{ .Site.BaseURL }}/page/about/">About</a></li>
      </ul>
    </div>

  </div>

</div>
