{{ partial "header.html" . }}

<div class="container">

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleBody": {{ .Content }},
    "articleSection": "writing",
    "wordCount": {{ .WordCount }},
    "timeRequired": "P{{ .ReadingTime }}M",
    "author": {
      "@type": "Person",
      "name": "Marvin Pinto",
      "email": "hello@pinto.im",
      "image": {{printf "%s" (print .Site.BaseURL "images/marvin-pinto-profile.jpg")}},
      "url": "https://disjoint.ca/page/about"
    },
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
    "headline": {{ .Title }},
    "mainEntityOfPage":{
      "@type": "WebPage",
      "@id": {{ .Permalink }}
    },
    "description": {{ $.Scratch.Get "local_description" }},
    "image": {
      "@type": "ImageObject",
      "url": {{printf "%s" (print .Site.BaseURL (.Param "meta_image"))}}
      "height": {{ .Param "meta_image_height" }},
      "width": {{ .Param "meta_image_width" }}
    },
    "publisher": {
      "@type": "Organization",
      "name": "disjoint.ca",
      "url" : "https://disjoint.ca",
      "logo": {
        "@type": "ImageObject",
        "url": "https://s3.amazonaws.com/media.disjoint.ca/disjoint-ca-logo.png",
        "width": 327,
        "height": 60
      }
    }
  }
  </script>

  <div class="row">

    <div class="col-md-offset-1 col-md-9">
      <div
        class="img-responsive jumbotron hero-blog-post-banner"
        style="background-image: url('{{ .Site.BaseURL }}{{ .Param "meta_image" }}');">
      </div>
    </div>

    <div class="col-md-offset-1 col-md-9">
      <h2>{{ .Title }}</h2>
      <span class="label label-primary">{{ .Date.Format .Site.Params.strings.date_format }}</span> using tags
      {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="/tags/{{ . | urlize }}">{{ $e }}</a>{{ end }}
      <span style="display:inline" title="Approximate reading time: {{.ReadingTime}} mins">&nbsp;<i class="fa fa-clock-o"></i>&thinsp;{{.ReadingTime}}min</span>

      <div class="pull-right">
        <a href="#"
          class="btn btn-secondary btn-sm hn-linkbutton"
          target="blank"
          data-url="{{ .Permalink }}"
          data-title="{{ .Title }}"><i class="fa fa-comments-o"></i> Discuss
        </a>
        <a href='https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&via={{ .Param "author_twitter_username" }}'
          class="btn btn-secondary btn-sm"
          target="_blank"
          rel="noreferrer"
          ><i class="fa fa-twitter"></i> Tweet
        </a>
      </div>

      <div>
        <br>
        {{ .Content }}
      </div>
    </div>

    <div class="col-md-2 adsense">
      <!-- adsense -->
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6377139471527368"
        data-ad-slot="1182212332"
        data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <hr />
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
