<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Params.languageCode }}" prefix="og: http://ogp.me/ns#">
<head>

  {{ if eq .URL "/" }}
    {{ $.Scratch.Add "local_title" "Marvin Pinto" }}
  {{ else if eq .URL "/writing/" }}
    {{ $.Scratch.Add "local_title" "Writing" }}
  {{ else if in .URL "/tags/" }}
    {{ $.Scratch.Add "local_title" "Tags" }}
  {{ else if eq .URL "/til/" }}
    {{ $.Scratch.Add "local_title" "Today I Learned" }}
  {{ else if in .Title "About Me" }}
    {{ $.Scratch.Add "local_title" "About Marvin Pinto" }}
  {{ else if in .Title "Content License" }}
    {{ $.Scratch.Add "local_title" "License information for disjoint.ca" }}
  {{ else }}
    {{ $.Scratch.Add "local_title" .Title }}
  {{ end }}

  {{ if .Description }}
    {{ $.Scratch.Add "local_description" .Description }}
  {{ else if .IsPage }}
    {{ $.Scratch.Add "local_description" .Summary }}
  {{ else }}
    {{ $.Scratch.Add "local_description" .Site.Params.description }}
  {{ end }}

  {{ if .IsPage }}
    {{ if eq .Type "til" }}
      {{ $.Scratch.Add "local_card_type" "summary" }}
    {{ else }}
      {{ $.Scratch.Add "local_card_type" "summary_large_image" }}
    {{ end }}
  {{ else }}
    {{ $.Scratch.Add "local_card_type" "summary_large_image" }}
  {{ end }}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content='{{ $.Scratch.Get "local_description" }}' />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content='{{ $.Scratch.Get "local_card_type" }}' />
  <meta name="twitter:site" content="@marvinpinto" />
  <meta name="twitter:creator" content='@{{ .Param "author_twitter_username" }}' />
  <meta name="twitter:title" content='{{ $.Scratch.Get "local_title" }} | {{ .Site.Title }}' />
  <meta name="twitter:description" content='{{ $.Scratch.Get "local_description" }}' />
  <meta name="twitter:image" content='{{ .Site.BaseURL }}{{ .Param "meta_image" }}' />

  <!-- Open Graph Protocol -->
  <meta name="og:title" content='{{ $.Scratch.Get "local_title" }} | {{ .Site.Title }}' />
  <meta name="og:type" content="website" />
  <meta name="og:url" content="{{ .Permalink }}" />
  <meta name="og:image" content='{{ .Site.BaseURL }}{{ .Param "meta_image" }}' />

  <title>{{ $.Scratch.Get "local_title" }} | {{ .Site.Title }}</title>

  <!-- custom css -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/disjoint-ca.min.css" />

  <!-- custom javascript -->
  <script src="{{ .Site.BaseURL }}/js/disjoint-ca.min.js"></script>

  <!-- Google Analytics -->
  <script>
  ga('create', '{{ getenv "GOOGLE_ANALYTICS_ID" }}', 'auto');
  ga('send', 'pageview');
  </script>

  <!-- rss -->
  {{ if .RSSlink }}
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}

  <!-- structured data social profile links -->
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "Marvin Pinto",
    "url" : "https://disjoint.ca",
    "sameAs" : [
      "https://twitter.com/marvinpinto",
      "https://github.com/marvinpinto"
    ]
  }
  </script>

  <!-- structured data logo -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "disjoint.ca",
    "url" : "https://disjoint.ca",
    "logo": {
      "@type": "ImageObject",
      "url": "https://s3.amazonaws.com/media.disjoint.ca/disjoint-ca-logo.png",
      "width": 327,
      "height": 60
    }
  }
  </script>

  <!-- structured data website name -->
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name" : "disjoint.ca",
    "alternateName" : {{ .Site.Params.description }},
    "url" : "https://disjoint.ca"
  }
  </script>

  <!-- adsense -->
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-6377139471527368",
  enable_page_level_ads: true
  });
  </script>

</head>
<body lang="{{ .Site.Params.languageCode }}">
  <!-- navbar -->
  {{ partial "navbar" . }}
