<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Params.languageCode }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="{{ .Title }}" />
    <meta name="author" content="{{ .Site.Params.author }}" />

    <meta name="keyword" content="" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <title>{{ if eq .URL "/" }}Marvin Pinto - {{ else if eq .URL "/writing/" }}Writing - {{ else if in .URL "/tags/" }}Tags - {{ else if eq .URL "/til/" }}Today I Learned - {{ else }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

  <!-- custom css -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/disjoint-ca.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css" />

  <!-- custom javascript -->
  <script src="{{ .Site.BaseURL }}/js/disjoint-ca.min.js"></script>

  <!-- Google Analytics -->
  <script>
  ga('create', '{{ getenv "GOOGLE_ANALYTICS_ID" }}', 'auto');
  ga('send', 'pageview');
  </script>

    <!-- rss -->
    {{ if .RSSlink }}
      <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

</head>
<body lang="{{ .Site.Params.languageCode }}">
    <!-- navbar -->
    {{ partial "navbar" . }}
