{{ partial "header.html" . }}

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">

      <div class="img-responsive jumbotron">
        <h1>Marvin Pinto</h1>
        <p>words &middot; ideas &middot; dreams</p>
      </div>

    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-offset-1 col-md-10 text-center">
      <h2><i class="fa fa-hand-peace-o"> Hello and Welcome</i></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <h4><i class="fa fa-pencil-square-o"></i> Read some of my latest articles!</h4>
      <ul class="fa-ul">
        {{ range first 5 (where .Data.Pages "Section" "writing") }}
        <li><i class="fa-li fa fa-angle-right"></i><a href="{{.Permalink}}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>

    <div class="col-md-5">
      <h4><i class="fa fa-lightbulb-o"></i> Check out a TIL or two</h4>
      <ul class="fa-ul">
        {{ range first 5 (where .Data.Pages "Section" "til") }}
        <li><i class="fa-li fa fa-angle-right"></i><a href="{{.Permalink}}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h4><i class="fa fa-tags"></i> Perhaps browse by the most popular tags</h4>
      <ul class="tags">
        {{ range first 20 .Site.Taxonomies.tags.ByCount }}
        <li class="tag"><a href="/tags/{{ .Name | urlize }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h4><i class="fa fa-cubes"></i> Or just read more <a href="{{ .Site.BaseURL }}/page/about">about me</a>.</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <hr />
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
