{{ partial "header.html" . }}

<div class="container">

  <div class="row">
    <div class="text-center col-md-offset-1 col-md-10">
      <h3><i class="fa fa-files-o"> Writing Archives</i></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <ul class="fa-ul">
        {{ range .Data.Pages }}
        <li><i class="fa-li fa fa-angle-right"></i><a href="{{.Permalink}}">{{ .Title }}</a>&nbsp;&nbsp;({{ .Date.Format .Site.Params.strings.date_format }})</li>
        {{ end }}
        </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <hr>
    </div>
  </div>

</div>
{{ partial "footer.html" . }}
